In [1]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text

In [2]:
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/res_province_transact_db")
conn = engine.connect()

In [3]:
query = """
SELECT st.id, pr.name AS pais, st.name AS direccion FROM res_province AS pr
INNER JOIN street AS st ON pr.id = st.res_province_id
"""

In [4]:
street_data = pd.read_sql(query, conn)
# print(street_data)
street_data["id"] = street_data["id"].astype('int')
street_data

   id        pais                 direccion
0   1      La Paz         Avenida Argentina
1   2      La Paz               Calle Colon
2   3  Santa Cruz  Avenida MonseÃ±or Rivero
3   4  Santa Cruz            Calle La Salle
4   5      Tarija     Avenida Las AmÃ©ricas
5   6      Tarija          Calle Cochabamba